:root {
    /*colors*/
    --white: #D6F8D6;
    --lightblue: #7FC6A4;
    --blue: #5D737E;
    --black: #55505C;
    --yellow: #FAF33E;

    /*points font "Bitcount Single", system-ui*/
}

html body {

}