:root {
    /*colors*/
    --white: #D6F8D6;
    --lightblue: #7FC6A4;
    --blue: #5D737E;
    --black: #55505C;
    --yellow: #FAF33E;

    /*points font "Bitcount Single", system-ui*/
}

html body {
    background-color: var(--blue);
}

#scoreboard-con {
    display: flex;
    margin: 150px auto;
    justify-content: center;
    align-items: center;
}

#home-points {
    margin: 20px;
}

#away-points {
    margin: 20px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.points {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--black);
    padding: 50px 50px;
    border-radius: 20px;
    font-size: 50px;
}

.button-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 10px;
}

.buttons {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border-color: var(--lightblue);
    margin: 3px 3px;
    background-color: var(--black);
}

.buttons:hover {
    background-color: var(--lightblue);
}

.buttons:active {
    background-color: var(--white);
}